<ul>
	<li>
		<input type="checkbox" (change)="showComprado($event)"> Não mostrar o que foi comprado
	</li>

	@for (item of list; track item.produto)
	{
		@if (!item.comprado || mostrarComprados)
		{
			<li> 
				<input type="checkbox" 
					   [checked]="item.comprado"
					   (change)="markCheckbox($event, item.produto)"> 
				{{item.produto}} - {{item.quantidade}}
				<button (click)="editarItem(item.produto)">Editar</button>
				<button (click)="deleteItem(item.produto)">Deletar</button>
			</li>
		}
	}
	<br>
	<label>
		Produto:
		<input type="text" (input)="name($event)">
	</label>
	<br>
	<br>
	<label>
		Quantidade:
		<input type="text" (input)="qtd($event)">
	</label>
	<br>
	<br>
	<button (click)="adicionarProuto()">Enviar</button>
</ul>